/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /*----------------------------------*/

.container {
   width: 100%;
   background-color:#252525 ; 
   margin:10 px;
   box-sizing: border-box;
}
/*--------header-----------*/
header{
    width: auto;
    height: 150px;
}

h1 {
    display:inline-block;
    margin:30px 50px;
    
  } 

h1 a{
    text-decoration: none;
    color: #A02F31 ;
    font-size: 35px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
}
nav{
    margin-left: 65%;
    display: inline;
    word-spacing: 50px;
}

nav a{
    
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/*---------------section1------------*/
.section1 {
    width: 30%;
    height: auto;
    background-color:#252525 ; 
    line-height: 30px;
    color: white;
    padding: 30px 50px;
}
.section1 h2 {
    font-family: 'Muli', sans-serif;
    line-height: 1.5;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
    
}
.section1 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.section1 a{
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px;
}

/*-----------------section 2------*/
.section2 {
   
    width: 100%;
    height:auto;
    margin-top: 0px;
    background-color: white ;
    
    padding: 60px 0;
    
    
}


.section2 h2 {
    font-family: 'Muli', sans-serif;
    font-size: 21px;
    color: #DD3C3C;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 50px;
   
}

.section2 p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    
    color: #636363;
    line-height: 1.5;
    margin:30px 50px;
}

.section2 a {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #dd3C3C;
    border: 2px solid #DD3C3C;
    margin: 30px 50px;
    padding: 8px;

}
/*-----------section 3-------------*/
.section3 {
   
    width: 100%;
    height: auto;
    background-color: #F1F0F0;
    text-align: center;
    padding: 60px 0;
}

.section3 h2 {
    font-family: 'Muli', sans-serif;
    font-size: 21px;
    font-weight: 600 ;
    text-transform: uppercase;
    color: #dd3C3C;
    margin: 30px auto;
}

.section3 .circle {   /*h and w in % */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:#dd3C3C ;
    margin: 20px auto;
}

.section3 p {
   
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding: 10px 50px; 
    margin: 10px auto;
    color:#424242 ;
    line-height: 1.5;
   
    
}

/*----------------footer--------------------*/
footer {
    font-family: 'Muli', sans-serif;
    background-color:#dd3C3C;
    padding: 50px 0;
}

footer h2 {
    
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin: 30px 50px;
    font-weight: bold;
}

/*----------form------------*/
.namelabel,.msglabel
{   
    font-size: 18px;
    color:white;
    text-transform: uppercase;
    display: block;
    margin: 5px 50px; 
}
.name, .textarea
{
    
    margin: 10px 50px 10px 50px;   /*diff margin scale on left and right end */
    width: 90%;
    background: #DD3C3C;
}
.name{
    height: 22px;
}
.textarea {
    height: 250px;
}
.submit {
    color: #F1F0F0;
    display: block;
    margin: 10px 50px;
    background: #DD3C3C;
    text-transform: uppercase;
    padding: 8px;
}
small {
    margin: 30px 50px;
    color: #F1F0F0;
}